// Define variables for your color scheme


// Exceltips colors
$e-green-one: #92DDF2;
$e-green-two: #95F2F3;
$e-green-three: #48D7DA;
$e-green-four: #5FECC4;
$e-green-five: #52D1A5;
$e-green-six: #C4E59D;



// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #494949;
$light-gray: #F4F4F4;
