// Specific CSS for your home-page
h1, h2, h3, h4, h5, h6, p {
  margin:0;
  padding: 0;
}

a {
  color: $gray;
  text-decoration: none;
  &:hover {
    color: $gray;
    text-decoration: none;
  }
}

.wrapper-global {
  display: flex;
}

button {
  all: unset;
}
