<div class="dashboard-one">
  <div class="progression-circle">
    <%= image_tag "logo_exceltips", class: 'logo-avatar' %>
    <%= render partial: 'shared/progression' %>
  </div>
  <div class="navigation-box">
    <div class="box active-dashboard">
      <!-- ADD LINK TO  -->
      <%#= link_to ....,  %>
      <i class="fas fa-book-open"></i>
      <p>Exceltips - Formation</p>
      <%# end %>
    </div>
    <div class="box">
      <!-- ADD LINK TO  -->
      <%#= link_to ....,  %>
      <i class="fas fa-user-graduate"></i>
      <p>Thomas - Professeur</p>
      <%# end %>
    </div>
  </div>
</div>