<div class="dashboard-two">
  <div class="progression-circle">
    <%= image_tag "logo_exceltips", class: 'logo-avatar' %>
    <%= render partial: 'shared/progression' %>
  </div>
  <div class="navigation-box">
    <% progressions.each do |progression| %>
      <%= link_to progression_path(progression) do %>
        <%= render partial: 'shared/card_small', locals: { progression: progression} %>
      <% end %>
    <% end %>
  </div>
</div>